@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-color: #151515;
  --main-alpha-color: #252525;
  --secundary-color: #C7253E;
  --text-color: #EEEEEE;
  --comp-1-color: #821131;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: auto;  
}

body {
  display: grid;
  grid-template-rows: 50px calc(100% - 50px);
  height: 100lvh;
}

header,
.content {
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  padding: 0 15%;
  background-color: var(--main-color);  
}

header>h1 {
  font-family: 'Poppins';
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--text-color);
}

header span {
  font-weight: 400;
}

header>img {
  height: 24px;
}

.content {
  position: relative;
}